.App {
  text-align: center;
}

.divForm {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px 4px rgba(17, 24, 29, 0.2);
  text-align: center;
}

input {
  margin-bottom: 10px;
}
